body {
    background-color: aliceblue;
}

div#contenedor {
    width: 80%;
    margin: auto;
    margin-top: 5px;
}

header {
    /*padding: 30px;*/
    height: 10%;
    /*color: white;*/
    /*background-color: #b5c3e5;*/
}

img.logo {
    width: 30%;
    margin: auto;
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #cddde8;
    overflow: hidden;
}

nav li {
    float:left;
    border-right: 2px solid #adaddc;
}

nav li a {
    display:block;
    padding:14px 16px;
    text-align: center;
    text-decoration: none;
    color: navy;
}

nav li a:hover{
    color: #cdddef;
}

main {

}

article {

}

footer {

}

img.inicio {
    height: 10%;
    width: 80%;
    margin: auto;
    display: block;
}

